=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class BankreconciliationmatchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Delete a bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete a bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BankreconciliationmatchApi.delete"
      end
      # resource path
      local_var_path = '/bank/reconciliation/match/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Get bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperBankReconciliationMatch]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Get bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperBankReconciliationMatch, Fixnum, Hash)>] ResponseWrapperBankReconciliationMatch data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BankreconciliationmatchApi.get"
      end
      # resource path
      local_var_path = '/bank/reconciliation/match/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperBankReconciliationMatch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create a bank reconciliation match.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BankReconciliationMatch] :body Partial object describing what should be updated
    # @return [ResponseWrapperBankReconciliationMatch]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Create a bank reconciliation match.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [BankReconciliationMatch] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperBankReconciliationMatch, Fixnum, Hash)>] ResponseWrapperBankReconciliationMatch data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.post ...'
      end
      # resource path
      local_var_path = '/bank/reconciliation/match'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperBankReconciliationMatch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update a bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [BankReconciliationMatch] :body Partial object describing what should be updated
    # @return [ResponseWrapperBankReconciliationMatch]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # [BETA] Update a bank reconciliation match by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [BankReconciliationMatch] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperBankReconciliationMatch, Fixnum, Hash)>] ResponseWrapperBankReconciliationMatch data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BankreconciliationmatchApi.put"
      end
      # resource path
      local_var_path = '/bank/reconciliation/match/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperBankReconciliationMatch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find bank reconciliation match corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :bank_reconciliation_id List of bank reconciliation IDs
    # @option opts [Integer] :count Number of elements to return (default to 5000)
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseBankReconciliationMatch]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Find bank reconciliation match corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :bank_reconciliation_id List of bank reconciliation IDs
    # @option opts [Integer] :count Number of elements to return
    # @option opts [Integer] :from From index
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseBankReconciliationMatch, Fixnum, Hash)>] ListResponseBankReconciliationMatch data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.search ...'
      end
      # resource path
      local_var_path = '/bank/reconciliation/match'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'bankReconciliationId'] = opts[:'bank_reconciliation_id'] if !opts[:'bank_reconciliation_id'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseBankReconciliationMatch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Suggest matches for a bank reconciliation by ID.
    # 
    # @param bank_reconciliation_id Element ID
    # @param [Hash] opts the optional parameters
    # @return [ListResponseBankReconciliationMatch]
    def suggest(bank_reconciliation_id, opts = {})
      data, _status_code, _headers = suggest_with_http_info(bank_reconciliation_id, opts)
      data
    end

    # [BETA] Suggest matches for a bank reconciliation by ID.
    # 
    # @param bank_reconciliation_id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListResponseBankReconciliationMatch, Fixnum, Hash)>] ListResponseBankReconciliationMatch data, response status code and response headers
    def suggest_with_http_info(bank_reconciliation_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BankreconciliationmatchApi.suggest ...'
      end
      # verify the required parameter 'bank_reconciliation_id' is set
      if @api_client.config.client_side_validation && bank_reconciliation_id.nil?
        fail ArgumentError, "Missing the required parameter 'bank_reconciliation_id' when calling BankreconciliationmatchApi.suggest"
      end
      # resource path
      local_var_path = '/bank/reconciliation/match/:suggest'

      # query parameters
      query_params = {}
      query_params[:'bankReconciliationId'] = bank_reconciliation_id

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseBankReconciliationMatch')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BankreconciliationmatchApi#suggest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
