=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class CustomerApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Delete customer by ID
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete customer by ID
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerApi.delete"
      end
      # resource path
      local_var_path = '/customer/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get customer by ID.
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperCustomer]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # Get customer by ID.
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperCustomer, Fixnum, Hash)>] ResponseWrapperCustomer data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerApi.get"
      end
      # resource path
      # query parameters
      {}[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      # form parameters
      # http body (model)
      data, status_code, headers = @api_client.call_api(:GET, '/customer/{id}'.sub('{' + 'id' + '}', id.to_s),
                                                        :header_params => {},
                                                        :query_params => {},
                                                        :form_params => {},
                                                        :body => nil,
                                                        :auth_names => ['tokenAuthScheme'],
                                                        :return_type => 'ResponseWrapperCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create customer. Related customer addresses may also be created.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Customer] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperCustomer]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # Create customer. Related customer addresses may also be created.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Customer] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperCustomer, Fixnum, Hash)>] ResponseWrapperCustomer data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.post ...'
      end
      # resource path
      local_var_path = '/customer'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create multiple customers. Related supplier addresses may also be created.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Customer>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [ListResponseCustomer]
    def post_list(opts = {})
      data, _status_code, _headers = post_list_with_http_info(opts)
      data
    end

    # [BETA] Create multiple customers. Related supplier addresses may also be created.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Customer>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [Array<(ListResponseCustomer, Fixnum, Hash)>] ListResponseCustomer data, response status code and response headers
    def post_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.post_list ...'
      end
      # resource path
      local_var_path = '/customer/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#post_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update customer.
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [Customer] :body Partial object describing what should be updated
    # @return [ResponseWrapperCustomer]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # Update customer.
    #
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [Customer] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperCustomer, Fixnum, Hash)>] ResponseWrapperCustomer data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CustomerApi.put"
      end
      # resource path
      local_var_path = '/customer/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update multiple customers. Addresses can also be updated.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Customer>] :body JSON representing updates to object. Should have ID and version set.
    # @return [ListResponseCustomer]
    def put_list(opts = {})
      data, _status_code, _headers = put_list_with_http_info(opts)
      data
    end

    # [BETA] Update multiple customers. Addresses can also be updated.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Customer>] :body JSON representing updates to object. Should have ID and version set.
    # @return [Array<(ListResponseCustomer, Fixnum, Hash)>] ListResponseCustomer data, response status code and response headers
    def put_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.put_list ...'
      end
      # resource path
      local_var_path = '/customer/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#put_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find customers corresponding with sent data.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :customer_account_number List of IDs
    # @option opts [String] :organization_number Equals
    # @option opts [String] :email Equals
    # @option opts [String] :invoice_email Equals
    # @option opts [BOOLEAN] :is_inactive Equals (default to false)
    # @option opts [String] :account_manager_id List of IDs
    # @option opts [String] :changed_since Only return elements that have changed since this date and time
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseCustomer]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # Find customers corresponding with sent data.
    #
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :customer_account_number List of IDs
    # @option opts [String] :organization_number Equals
    # @option opts [String] :email Equals
    # @option opts [String] :invoice_email Equals
    # @option opts [BOOLEAN] :is_inactive Equals
    # @option opts [String] :account_manager_id List of IDs
    # @option opts [String] :changed_since Only return elements that have changed since this date and time
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseCustomer, Fixnum, Hash)>] ListResponseCustomer data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerApi.search ...'
      end
      # resource path
      local_var_path = '/customer'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'customerAccountNumber'] = opts[:'customer_account_number'] if !opts[:'customer_account_number'].nil?
      query_params[:'organizationNumber'] = opts[:'organization_number'] if !opts[:'organization_number'].nil?
      query_params[:'email'] = opts[:'email'] if !opts[:'email'].nil?
      query_params[:'invoiceEmail'] = opts[:'invoice_email'] if !opts[:'invoice_email'].nil?
      query_params[:'isInactive'] = opts[:'is_inactive'] if !opts[:'is_inactive'].nil?
      query_params[:'accountManagerId'] = opts[:'account_manager_id'] if !opts[:'account_manager_id'].nil?
      query_params[:'changedSince'] = opts[:'changed_since'] if !opts[:'changed_since'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseCustomer')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
