=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class EmployeeemploymentleaveOfAbsenceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Find leave of absence by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperLeaveOfAbsence]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Find leave of absence by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperLeaveOfAbsence, Fixnum, Hash)>] ResponseWrapperLeaveOfAbsence data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeemploymentleaveOfAbsenceApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeeemploymentleaveOfAbsenceApi.get"
      end
      # resource path
      local_var_path = '/employee/employment/leaveOfAbsence/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperLeaveOfAbsence')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeemploymentleaveOfAbsenceApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create leave of absence.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveOfAbsence] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperLeaveOfAbsence]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Create leave of absence.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveOfAbsence] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperLeaveOfAbsence, Fixnum, Hash)>] ResponseWrapperLeaveOfAbsence data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeemploymentleaveOfAbsenceApi.post ...'
      end
      # resource path
      local_var_path = '/employee/employment/leaveOfAbsence'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperLeaveOfAbsence')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeemploymentleaveOfAbsenceApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create multiple leave of absences.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<LeaveOfAbsence>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [ListResponseLeaveOfAbsence]
    def post_list(opts = {})
      data, _status_code, _headers = post_list_with_http_info(opts)
      data
    end

    # [BETA] Create multiple leave of absences.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<LeaveOfAbsence>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [Array<(ListResponseLeaveOfAbsence, Fixnum, Hash)>] ListResponseLeaveOfAbsence data, response status code and response headers
    def post_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeemploymentleaveOfAbsenceApi.post_list ...'
      end
      # resource path
      local_var_path = '/employee/employment/leaveOfAbsence/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseLeaveOfAbsence')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeemploymentleaveOfAbsenceApi#post_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update leave of absence. 
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveOfAbsence] :body Partial object describing what should be updated
    # @return [ResponseWrapperLeaveOfAbsence]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # [BETA] Update leave of absence. 
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [LeaveOfAbsence] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperLeaveOfAbsence, Fixnum, Hash)>] ResponseWrapperLeaveOfAbsence data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmployeeemploymentleaveOfAbsenceApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling EmployeeemploymentleaveOfAbsenceApi.put"
      end
      # resource path
      local_var_path = '/employee/employment/leaveOfAbsence/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperLeaveOfAbsence')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmployeeemploymentleaveOfAbsenceApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
