=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class EventApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Get example webhook payload
    # 
    # @param event_type Event type, from /event endpoint
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperEventInfoDTO]
    def example(event_type, opts = {})
      data, _status_code, _headers = example_with_http_info(event_type, opts)
      data
    end

    # [BETA] Get example webhook payload
    # 
    # @param event_type Event type, from /event endpoint
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperEventInfoDTO, Fixnum, Hash)>] ResponseWrapperEventInfoDTO data, response status code and response headers
    def example_with_http_info(event_type, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.example ...'
      end
      # verify the required parameter 'event_type' is set
      if @api_client.config.client_side_validation && event_type.nil?
        fail ArgumentError, "Missing the required parameter 'event_type' when calling EventApi.example"
      end
      # resource path
      local_var_path = '/event/{eventType}'.sub('{' + 'eventType' + '}', event_type.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperEventInfoDTO')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#example\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Get all (WebHook) event keys.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperMapStringEventInfoDescription]
    def get(opts = {})
      data, _status_code, _headers = get_with_http_info(opts)
      data
    end

    # [BETA] Get all (WebHook) event keys.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperMapStringEventInfoDescription, Fixnum, Hash)>] ResponseWrapperMapStringEventInfoDescription data, response status code and response headers
    def get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventApi.get ...'
      end
      # resource path
      local_var_path = '/event'

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperMapStringEventInfoDescription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
