=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class InventoryinventoriesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Find inventories corresponding with sent data.
    # 
    # @param date_from Format is yyyy-MM-dd (from and incl.).
    # @param date_to Format is yyyy-MM-dd (to and incl.).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :product_id Element ID
    # @option opts [Integer] :inventory_id Element ID
    # @option opts [BOOLEAN] :only_product_with_changed_status  (default to false)
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseInventories]
    def search(date_from, date_to, opts = {})
      data, _status_code, _headers = search_with_http_info(date_from, date_to, opts)
      data
    end

    # [BETA] Find inventories corresponding with sent data.
    # 
    # @param date_from Format is yyyy-MM-dd (from and incl.).
    # @param date_to Format is yyyy-MM-dd (to and incl.).
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :product_id Element ID
    # @option opts [Integer] :inventory_id Element ID
    # @option opts [BOOLEAN] :only_product_with_changed_status 
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseInventories, Fixnum, Hash)>] ListResponseInventories data, response status code and response headers
    def search_with_http_info(date_from, date_to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InventoryinventoriesApi.search ...'
      end
      # verify the required parameter 'date_from' is set
      if @api_client.config.client_side_validation && date_from.nil?
        fail ArgumentError, "Missing the required parameter 'date_from' when calling InventoryinventoriesApi.search"
      end
      # verify the required parameter 'date_to' is set
      if @api_client.config.client_side_validation && date_to.nil?
        fail ArgumentError, "Missing the required parameter 'date_to' when calling InventoryinventoriesApi.search"
      end
      # resource path
      local_var_path = '/inventory/inventories'

      # query parameters
      query_params = {}
      query_params[:'dateFrom'] = date_from
      query_params[:'dateTo'] = date_to
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'inventoryId'] = opts[:'inventory_id'] if !opts[:'inventory_id'].nil?
      query_params[:'onlyProductWithChangedStatus'] = opts[:'only_product_with_changed_status'] if !opts[:'only_product_with_changed_status'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseInventories')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InventoryinventoriesApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
