=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class LedgeraccountingPeriodApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get accounting period by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperAccountingPeriod]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # Get accounting period by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperAccountingPeriod, Fixnum, Hash)>] ResponseWrapperAccountingPeriod data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgeraccountingPeriodApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LedgeraccountingPeriodApi.get"
      end
      # resource path
      local_var_path = '/ledger/accountingPeriod/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperAccountingPeriod')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgeraccountingPeriodApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find accounting periods corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [Integer] :number_from From and including
    # @option opts [Integer] :number_to To and excluding
    # @option opts [String] :start_from From and including
    # @option opts [String] :start_to To and excluding
    # @option opts [String] :end_from From and including
    # @option opts [String] :end_to To and excluding
    # @option opts [Integer] :count Number of elements to return (default to 1400)
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseAccountingPeriod]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # Find accounting periods corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [Integer] :number_from From and including
    # @option opts [Integer] :number_to To and excluding
    # @option opts [String] :start_from From and including
    # @option opts [String] :start_to To and excluding
    # @option opts [String] :end_from From and including
    # @option opts [String] :end_to To and excluding
    # @option opts [Integer] :count Number of elements to return
    # @option opts [Integer] :from From index
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseAccountingPeriod, Fixnum, Hash)>] ListResponseAccountingPeriod data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgeraccountingPeriodApi.search ...'
      end
      # resource path
      local_var_path = '/ledger/accountingPeriod'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'numberFrom'] = opts[:'number_from'] if !opts[:'number_from'].nil?
      query_params[:'numberTo'] = opts[:'number_to'] if !opts[:'number_to'].nil?
      query_params[:'startFrom'] = opts[:'start_from'] if !opts[:'start_from'].nil?
      query_params[:'startTo'] = opts[:'start_to'] if !opts[:'start_to'].nil?
      query_params[:'endFrom'] = opts[:'end_from'] if !opts[:'end_from'].nil?
      query_params[:'endTo'] = opts[:'end_to'] if !opts[:'end_to'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseAccountingPeriod')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgeraccountingPeriodApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
