=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class LedgervatTypeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Create a new relative VAT Type. These are used if the company has 'forholdsmessig fradrag for inngående MVA'.
    # 
    # @param name VAT type name, max 8 characters.
    # @param vat_type_id VAT type ID. The relative VAT type will behave like this VAT type, except for the basis for calculating the VAT deduction, which is decided by the basis percentage.
    # @param percentage Basis percentage. This percentage will be multiplied with the transaction amount to find the amount that will be the basis for calculating the deduction amount.
    # @param [Hash] opts the optional parameters
    # @return [ResponseWrapperVatType]
    def create_relative_vat_type(name, vat_type_id, percentage, opts = {})
      data, _status_code, _headers = create_relative_vat_type_with_http_info(name, vat_type_id, percentage, opts)
      data
    end

    # [BETA] Create a new relative VAT Type. These are used if the company has &#39;forholdsmessig fradrag for inngående MVA&#39;.
    # 
    # @param name VAT type name, max 8 characters.
    # @param vat_type_id VAT type ID. The relative VAT type will behave like this VAT type, except for the basis for calculating the VAT deduction, which is decided by the basis percentage.
    # @param percentage Basis percentage. This percentage will be multiplied with the transaction amount to find the amount that will be the basis for calculating the deduction amount.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseWrapperVatType, Fixnum, Hash)>] ResponseWrapperVatType data, response status code and response headers
    def create_relative_vat_type_with_http_info(name, vat_type_id, percentage, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgervatTypeApi.create_relative_vat_type ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling LedgervatTypeApi.create_relative_vat_type"
      end
      # verify the required parameter 'vat_type_id' is set
      if @api_client.config.client_side_validation && vat_type_id.nil?
        fail ArgumentError, "Missing the required parameter 'vat_type_id' when calling LedgervatTypeApi.create_relative_vat_type"
      end
      # verify the required parameter 'percentage' is set
      if @api_client.config.client_side_validation && percentage.nil?
        fail ArgumentError, "Missing the required parameter 'percentage' when calling LedgervatTypeApi.create_relative_vat_type"
      end
      # resource path
      local_var_path = '/ledger/vatType/createRelativeVatType'

      # query parameters
      query_params = {}
      query_params[:'name'] = name
      query_params[:'vatTypeId'] = vat_type_id
      query_params[:'percentage'] = percentage

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperVatType')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgervatTypeApi#create_relative_vat_type\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get vat type by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperVatType]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # Get vat type by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperVatType, Fixnum, Hash)>] ResponseWrapperVatType data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgervatTypeApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling LedgervatTypeApi.get"
      end
      # resource path
      local_var_path = '/ledger/vatType/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperVatType')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgervatTypeApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find vat types corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :number List of IDs
    # @option opts [String] :type_of_vat Type of VAT
    # @option opts [String] :vat_date yyyy-MM-dd. Defaults to today. Note that this is only used in combination with typeOfVat-parameter. Only valid vatTypes on the given date are returned.
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseVatType]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # Find vat types corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :number List of IDs
    # @option opts [String] :type_of_vat Type of VAT
    # @option opts [String] :vat_date yyyy-MM-dd. Defaults to today. Note that this is only used in combination with typeOfVat-parameter. Only valid vatTypes on the given date are returned.
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseVatType, Fixnum, Hash)>] ListResponseVatType data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: LedgervatTypeApi.search ...'
      end
      if @api_client.config.client_side_validation && opts[:'type_of_vat'] && !['OUTGOING', 'INCOMING'].include?(opts[:'type_of_vat'])
        fail ArgumentError, 'invalid value for "type_of_vat", must be one of OUTGOING, INCOMING'
      end
      # resource path
      local_var_path = '/ledger/vatType'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'number'] = opts[:'number'] if !opts[:'number'].nil?
      query_params[:'typeOfVat'] = opts[:'type_of_vat'] if !opts[:'type_of_vat'].nil?
      query_params[:'vatDate'] = opts[:'vat_date'] if !opts[:'vat_date'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseVatType')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: LedgervatTypeApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
