=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class OrderorderGroupApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [Beta] Delete orderGroup by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [Beta] Delete orderGroup by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderorderGroupApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrderorderGroupApi.delete"
      end
      # resource path
      local_var_path = '/order/orderGroup/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderorderGroupApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [Beta] Get orderGroup by ID. A orderGroup is a way to group orderLines, and add comments and subtotals
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperOrderGroup]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [Beta] Get orderGroup by ID. A orderGroup is a way to group orderLines, and add comments and subtotals
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperOrderGroup, Fixnum, Hash)>] ResponseWrapperOrderGroup data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderorderGroupApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrderorderGroupApi.get"
      end
      # resource path
      local_var_path = '/order/orderGroup/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperOrderGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderorderGroupApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [Beta] Post orderGroup.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderGroup] :body JSON representing the new object to be created. Should not have ID and version set.
    # @option opts [String] :order_line_ids List of IDs
    # @return [ResponseWrapperOrderGroup]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [Beta] Post orderGroup.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderGroup] :body JSON representing the new object to be created. Should not have ID and version set.
    # @option opts [String] :order_line_ids List of IDs
    # @return [Array<(ResponseWrapperOrderGroup, Fixnum, Hash)>] ResponseWrapperOrderGroup data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderorderGroupApi.post ...'
      end
      # resource path
      local_var_path = '/order/orderGroup'

      # query parameters
      query_params = {}
      query_params[:'orderLineIds'] = opts[:'order_line_ids'] if !opts[:'order_line_ids'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperOrderGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderorderGroupApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [Beta] Put orderGroup.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderGroup] :body JSON representing the new object to be created. Should not have ID and version set.
    # @option opts [String] :order_line_ids List of IDs
    # @option opts [BOOLEAN] :remove_existing_order_lines Should existing orderLines be removed from this orderGroup (default to false)
    # @return [ResponseWrapperOrderGroup]
    def put(opts = {})
      data, _status_code, _headers = put_with_http_info(opts)
      data
    end

    # [Beta] Put orderGroup.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [OrderGroup] :body JSON representing the new object to be created. Should not have ID and version set.
    # @option opts [String] :order_line_ids List of IDs
    # @option opts [BOOLEAN] :remove_existing_order_lines Should existing orderLines be removed from this orderGroup
    # @return [Array<(ResponseWrapperOrderGroup, Fixnum, Hash)>] ResponseWrapperOrderGroup data, response status code and response headers
    def put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderorderGroupApi.put ...'
      end
      # resource path
      local_var_path = '/order/orderGroup'

      # query parameters
      query_params = {}
      query_params[:'OrderLineIds'] = opts[:'order_line_ids'] if !opts[:'order_line_ids'].nil?
      query_params[:'removeExistingOrderLines'] = opts[:'remove_existing_order_lines'] if !opts[:'remove_existing_order_lines'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperOrderGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderorderGroupApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find orderGroups corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids List of IDs
    # @option opts [String] :order_ids List of IDs
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseOrderGroup]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Find orderGroups corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids List of IDs
    # @option opts [String] :order_ids List of IDs
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseOrderGroup, Fixnum, Hash)>] ListResponseOrderGroup data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderorderGroupApi.search ...'
      end
      # resource path
      local_var_path = '/order/orderGroup'

      # query parameters
      query_params = {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'orderIds'] = opts[:'order_ids'] if !opts[:'order_ids'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseOrderGroup')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderorderGroupApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
