=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class ProductunitmasterApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Get product unit master by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperProductUnitMaster]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Get product unit master by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperProductUnitMaster, Fixnum, Hash)>] ResponseWrapperProductUnitMaster data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductunitmasterApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductunitmasterApi.get"
      end
      # resource path
      local_var_path = '/product/unit/master/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperProductUnitMaster')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductunitmasterApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find product units master corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :name Names
    # @option opts [String] :name_short Short names
    # @option opts [String] :common_code Common codes
    # @option opts [String] :peppol_name Peppol names
    # @option opts [String] :peppol_symbol Peppol symbols
    # @option opts [BOOLEAN] :is_inactive Inactive units
    # @option opts [Integer] :count Number of elements to return (default to 2100)
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseProductUnitMaster]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Find product units master corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id List of IDs
    # @option opts [String] :name Names
    # @option opts [String] :name_short Short names
    # @option opts [String] :common_code Common codes
    # @option opts [String] :peppol_name Peppol names
    # @option opts [String] :peppol_symbol Peppol symbols
    # @option opts [BOOLEAN] :is_inactive Inactive units
    # @option opts [Integer] :count Number of elements to return
    # @option opts [Integer] :from From index
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseProductUnitMaster, Fixnum, Hash)>] ListResponseProductUnitMaster data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductunitmasterApi.search ...'
      end
      # resource path
      local_var_path = '/product/unit/master'

      # query parameters
      query_params = {}
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'nameShort'] = opts[:'name_short'] if !opts[:'name_short'].nil?
      query_params[:'commonCode'] = opts[:'common_code'] if !opts[:'common_code'].nil?
      query_params[:'peppolName'] = opts[:'peppol_name'] if !opts[:'peppol_name'].nil?
      query_params[:'peppolSymbol'] = opts[:'peppol_symbol'] if !opts[:'peppol_symbol'].nil?
      query_params[:'isInactive'] = opts[:'is_inactive'] if !opts[:'is_inactive'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseProductUnitMaster')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductunitmasterApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
