=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class ProductsupplierProductApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Delete supplierProduct.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete supplierProduct.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsupplierProductApi.delete"
      end
      # resource path
      local_var_path = '/product/supplierProduct/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get supplierProduct by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperSupplierProduct]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # Get supplierProduct by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperSupplierProduct, Fixnum, Hash)>] ResponseWrapperSupplierProduct data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsupplierProductApi.get"
      end
      # resource path
      local_var_path = '/product/supplierProduct/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create new supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [SupplierProduct] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperSupplierProduct]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # Create new supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [SupplierProduct] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperSupplierProduct, Fixnum, Hash)>] ResponseWrapperSupplierProduct data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.post ...'
      end
      # resource path
      local_var_path = '/product/supplierProduct'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create list of new supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SupplierProduct>] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ListResponseSupplierProduct]
    def post_list(opts = {})
      data, _status_code, _headers = post_list_with_http_info(opts)
      data
    end

    # Create list of new supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SupplierProduct>] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ListResponseSupplierProduct, Fixnum, Hash)>] ListResponseSupplierProduct data, response status code and response headers
    def post_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.post_list ...'
      end
      # resource path
      local_var_path = '/product/supplierProduct/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#post_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update supplierProduct.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [SupplierProduct] :body Partial object describing what should be updated
    # @return [ResponseWrapperSupplierProduct]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # Update supplierProduct.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [SupplierProduct] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperSupplierProduct, Fixnum, Hash)>] ResponseWrapperSupplierProduct data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProductsupplierProductApi.put"
      end
      # resource path
      local_var_path = '/product/supplierProduct/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update a list of supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SupplierProduct>] :body JSON representing updates to object. Should have ID and version set.
    # @return [ListResponseSupplierProduct]
    def put_list(opts = {})
      data, _status_code, _headers = put_list_with_http_info(opts)
      data
    end

    # [BETA] Update a list of supplierProduct.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<SupplierProduct>] :body JSON representing updates to object. Should have ID and version set.
    # @return [Array<(ListResponseSupplierProduct, Fixnum, Hash)>] ListResponseSupplierProduct data, response status code and response headers
    def put_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.put_list ...'
      end
      # resource path
      local_var_path = '/product/supplierProduct/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#put_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find products corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :product_id Id of product to find supplier products for.
    # @option opts [Integer] :vendor_id Id of vendor to find supplier products for.
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseSupplierProduct]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # Find products corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :product_id Id of product to find supplier products for.
    # @option opts [Integer] :vendor_id Id of vendor to find supplier products for.
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseSupplierProduct, Fixnum, Hash)>] ListResponseSupplierProduct data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProductsupplierProductApi.search ...'
      end
      # resource path
      local_var_path = '/product/supplierProduct'

      # query parameters
      query_params = {}
      query_params[:'productId'] = opts[:'product_id'] if !opts[:'product_id'].nil?
      query_params[:'vendorId'] = opts[:'vendor_id'] if !opts[:'vendor_id'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseSupplierProduct')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProductsupplierProductApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
