=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class PurchaseOrderdeviationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Approve deviations. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [ResponseWrapperPurchaseOrder]
    def approve(id, opts = {})
      data, _status_code, _headers = approve_with_http_info(id, opts)
      data
    end

    # [BETA] Approve deviations. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseWrapperPurchaseOrder, Fixnum, Hash)>] ResponseWrapperPurchaseOrder data, response status code and response headers
    def approve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.approve ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.approve"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}/:approve'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperPurchaseOrder')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#approve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Delete goods receipt by purchase order ID. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete goods receipt by purchase order ID. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.delete"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Send deviations to approval. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [ResponseWrapperPurchaseOrder]
    def deliver(id, opts = {})
      data, _status_code, _headers = deliver_with_http_info(id, opts)
      data
    end

    # [BETA] Send deviations to approval. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseWrapperPurchaseOrder, Fixnum, Hash)>] ResponseWrapperPurchaseOrder data, response status code and response headers
    def deliver_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.deliver ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.deliver"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}/:deliver'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperPurchaseOrder')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#deliver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    #  [BETA] Get deviation by order line ID. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperDeviation]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    #  [BETA] Get deviation by order line ID. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperDeviation, Fixnum, Hash)>] ResponseWrapperDeviation data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.get"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Register deviation on goods receipt. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Deviation] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperDeviation]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Register deviation on goods receipt. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Deviation] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperDeviation, Fixnum, Hash)>] ResponseWrapperDeviation data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.post ...'
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Register multiple deviations. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Deviation>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [ListResponseDeviation]
    def post_list(opts = {})
      data, _status_code, _headers = post_list_with_http_info(opts)
      data
    end

    # [BETA] Register multiple deviations. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Deviation>] :body JSON representing a list of new object to be created. Should not have ID and version set.
    # @return [Array<(ListResponseDeviation, Fixnum, Hash)>] ListResponseDeviation data, response status code and response headers
    def post_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.post_list ...'
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#post_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update deviation. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [Deviation] :body Partial object describing what should be updated
    # @return [ResponseWrapperDeviation]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # Update deviation. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [Deviation] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperDeviation, Fixnum, Hash)>] ResponseWrapperDeviation data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.put"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update multiple deviations. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Deviation>] :body JSON representing updates to object. Should have ID and version set.
    # @return [ListResponseDeviation]
    def put_list(opts = {})
      data, _status_code, _headers = put_list_with_http_info(opts)
      data
    end

    # [BETA] Update multiple deviations. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Deviation>] :body JSON representing updates to object. Should have ID and version set.
    # @return [Array<(ListResponseDeviation, Fixnum, Hash)>] ListResponseDeviation data, response status code and response headers
    def put_list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.put_list ...'
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/list'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#put_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find handled deviations for purchase order. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param purchase_order_id Equals
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseDeviation]
    def search(purchase_order_id, opts = {})
      data, _status_code, _headers = search_with_http_info(purchase_order_id, opts)
      data
    end

    # [BETA] Find handled deviations for purchase order. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param purchase_order_id Equals
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseDeviation, Fixnum, Hash)>] ListResponseDeviation data, response status code and response headers
    def search_with_http_info(purchase_order_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.search ...'
      end
      # verify the required parameter 'purchase_order_id' is set
      if @api_client.config.client_side_validation && purchase_order_id.nil?
        fail ArgumentError, "Missing the required parameter 'purchase_order_id' when calling PurchaseOrderdeviationApi.search"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation'

      # query parameters
      query_params = {}
      query_params[:'purchaseOrderId'] = purchase_order_id
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseDeviation')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Undeliver the deviations. Only available for users that have activated the Logistics Plus Beta-program in 'Our customer account'
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [ResponseWrapperPurchaseOrder]
    def undeliver(id, opts = {})
      data, _status_code, _headers = undeliver_with_http_info(id, opts)
      data
    end

    # [BETA] Undeliver the deviations. Only available for users that have activated the Logistics Plus Beta-program in &#39;Our customer account&#39;
    # 
    # @param id Purchase Order ID.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ResponseWrapperPurchaseOrder, Fixnum, Hash)>] ResponseWrapperPurchaseOrder data, response status code and response headers
    def undeliver_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PurchaseOrderdeviationApi.undeliver ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PurchaseOrderdeviationApi.undeliver"
      end
      # resource path
      local_var_path = '/purchaseOrder/deviation/{id}/:undeliver'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperPurchaseOrder')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PurchaseOrderdeviationApi#undeliver\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
