=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class TimesheetsalaryTypeSpecificationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Delete a timesheet SalaryType Specification
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete a timesheet SalaryType Specification
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimesheetsalaryTypeSpecificationApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimesheetsalaryTypeSpecificationApi.delete"
      end
      # resource path
      local_var_path = '/timesheet/salaryTypeSpecification/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimesheetsalaryTypeSpecificationApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Get timesheet SalaryType Specification for a specific ID
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperTimesheetSalaryTypeSpecification]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Get timesheet SalaryType Specification for a specific ID
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperTimesheetSalaryTypeSpecification, Fixnum, Hash)>] ResponseWrapperTimesheetSalaryTypeSpecification data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimesheetsalaryTypeSpecificationApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimesheetsalaryTypeSpecificationApi.get"
      end
      # resource path
      local_var_path = '/timesheet/salaryTypeSpecification/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperTimesheetSalaryTypeSpecification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimesheetsalaryTypeSpecificationApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create a timesheet SalaryType Specification. Only one entry per employee/date/SalaryType
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [TimesheetSalaryTypeSpecification] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperTimesheetSalaryTypeSpecification]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Create a timesheet SalaryType Specification. Only one entry per employee/date/SalaryType
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [TimesheetSalaryTypeSpecification] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperTimesheetSalaryTypeSpecification, Fixnum, Hash)>] ResponseWrapperTimesheetSalaryTypeSpecification data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimesheetsalaryTypeSpecificationApi.post ...'
      end
      # resource path
      local_var_path = '/timesheet/salaryTypeSpecification'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperTimesheetSalaryTypeSpecification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimesheetsalaryTypeSpecificationApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update a timesheet SalaryType Specification
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [TimesheetSalaryTypeSpecification] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperTimesheetSalaryTypeSpecification]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # [BETA] Update a timesheet SalaryType Specification
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [TimesheetSalaryTypeSpecification] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperTimesheetSalaryTypeSpecification, Fixnum, Hash)>] ResponseWrapperTimesheetSalaryTypeSpecification data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimesheetsalaryTypeSpecificationApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TimesheetsalaryTypeSpecificationApi.put"
      end
      # resource path
      local_var_path = '/timesheet/salaryTypeSpecification/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperTimesheetSalaryTypeSpecification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimesheetsalaryTypeSpecificationApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Get list of timesheet SalaryType Specifications
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :date_from From and including
    # @option opts [String] :date_to To and excluding
    # @option opts [Integer] :employee_id Equals
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseTimesheetSalaryTypeSpecification]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Get list of timesheet SalaryType Specifications
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :date_from From and including
    # @option opts [String] :date_to To and excluding
    # @option opts [Integer] :employee_id Equals
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseTimesheetSalaryTypeSpecification, Fixnum, Hash)>] ListResponseTimesheetSalaryTypeSpecification data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TimesheetsalaryTypeSpecificationApi.search ...'
      end
      # resource path
      local_var_path = '/timesheet/salaryTypeSpecification'

      # query parameters
      query_params = {}
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'employeeId'] = opts[:'employee_id'] if !opts[:'employee_id'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseTimesheetSalaryTypeSpecification')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TimesheetsalaryTypeSpecificationApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
