=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class TravelExpensemileageAllowanceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Delete mileage allowance.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # [BETA] Delete mileage allowance.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TravelExpensemileageAllowanceApi.delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TravelExpensemileageAllowanceApi.delete"
      end
      # resource path
      local_var_path = '/travelExpense/mileageAllowance/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TravelExpensemileageAllowanceApi#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Get mileage allowance by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperMileageAllowance]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Get mileage allowance by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperMileageAllowance, Fixnum, Hash)>] ResponseWrapperMileageAllowance data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TravelExpensemileageAllowanceApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TravelExpensemileageAllowanceApi.get"
      end
      # resource path
      local_var_path = '/travelExpense/mileageAllowance/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperMileageAllowance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TravelExpensemileageAllowanceApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Create mileage allowance.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [MileageAllowance] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperMileageAllowance]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Create mileage allowance.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [MileageAllowance] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperMileageAllowance, Fixnum, Hash)>] ResponseWrapperMileageAllowance data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TravelExpensemileageAllowanceApi.post ...'
      end
      # resource path
      local_var_path = '/travelExpense/mileageAllowance'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperMileageAllowance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TravelExpensemileageAllowanceApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Update mileage allowance.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [MileageAllowance] :body Partial object describing what should be updated
    # @return [ResponseWrapperMileageAllowance]
    def put(id, opts = {})
      data, _status_code, _headers = put_with_http_info(id, opts)
      data
    end

    # [BETA] Update mileage allowance.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [MileageAllowance] :body Partial object describing what should be updated
    # @return [Array<(ResponseWrapperMileageAllowance, Fixnum, Hash)>] ResponseWrapperMileageAllowance data, response status code and response headers
    def put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TravelExpensemileageAllowanceApi.put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TravelExpensemileageAllowanceApi.put"
      end
      # resource path
      local_var_path = '/travelExpense/mileageAllowance/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperMileageAllowance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TravelExpensemileageAllowanceApi#put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find mileage allowances corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :travel_expense_id Equals
    # @option opts [String] :rate_type_id Equals
    # @option opts [String] :rate_category_id Equals
    # @option opts [String] :km_from From and including
    # @option opts [String] :km_to To and excluding
    # @option opts [String] :rate_from From and including
    # @option opts [String] :rate_to To and excluding
    # @option opts [String] :amount_from From and including
    # @option opts [String] :amount_to To and excluding
    # @option opts [String] :departure_location Containing
    # @option opts [String] :destination Containing
    # @option opts [String] :date_from From and including
    # @option opts [String] :date_to To and excluding
    # @option opts [BOOLEAN] :is_company_car Equals
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseMileageAllowance]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Find mileage allowances corresponding with sent data.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :travel_expense_id Equals
    # @option opts [String] :rate_type_id Equals
    # @option opts [String] :rate_category_id Equals
    # @option opts [String] :km_from From and including
    # @option opts [String] :km_to To and excluding
    # @option opts [String] :rate_from From and including
    # @option opts [String] :rate_to To and excluding
    # @option opts [String] :amount_from From and including
    # @option opts [String] :amount_to To and excluding
    # @option opts [String] :departure_location Containing
    # @option opts [String] :destination Containing
    # @option opts [String] :date_from From and including
    # @option opts [String] :date_to To and excluding
    # @option opts [BOOLEAN] :is_company_car Equals
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseMileageAllowance, Fixnum, Hash)>] ListResponseMileageAllowance data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TravelExpensemileageAllowanceApi.search ...'
      end
      # resource path
      local_var_path = '/travelExpense/mileageAllowance'

      # query parameters
      query_params = {}
      query_params[:'travelExpenseId'] = opts[:'travel_expense_id'] if !opts[:'travel_expense_id'].nil?
      query_params[:'rateTypeId'] = opts[:'rate_type_id'] if !opts[:'rate_type_id'].nil?
      query_params[:'rateCategoryId'] = opts[:'rate_category_id'] if !opts[:'rate_category_id'].nil?
      query_params[:'kmFrom'] = opts[:'km_from'] if !opts[:'km_from'].nil?
      query_params[:'kmTo'] = opts[:'km_to'] if !opts[:'km_to'].nil?
      query_params[:'rateFrom'] = opts[:'rate_from'] if !opts[:'rate_from'].nil?
      query_params[:'rateTo'] = opts[:'rate_to'] if !opts[:'rate_to'].nil?
      query_params[:'amountFrom'] = opts[:'amount_from'] if !opts[:'amount_from'].nil?
      query_params[:'amountTo'] = opts[:'amount_to'] if !opts[:'amount_to'].nil?
      query_params[:'departureLocation'] = opts[:'departure_location'] if !opts[:'departure_location'].nil?
      query_params[:'destination'] = opts[:'destination'] if !opts[:'destination'].nil?
      query_params[:'dateFrom'] = opts[:'date_from'] if !opts[:'date_from'].nil?
      query_params[:'dateTo'] = opts[:'date_to'] if !opts[:'date_to'].nil?
      query_params[:'isCompanyCar'] = opts[:'is_company_car'] if !opts[:'is_company_car'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseMileageAllowance')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TravelExpensemileageAllowanceApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
