=begin
#Tripletex API



OpenAPI spec version: 2.69.5

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.24

=end

require 'uri'

module TripletexRubyClient
  class VoucherStatusApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # [BETA] Get voucherStatus by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [ResponseWrapperVoucherStatus]
    def get(id, opts = {})
      data, _status_code, _headers = get_with_http_info(id, opts)
      data
    end

    # [BETA] Get voucherStatus by ID.
    # 
    # @param id Element ID
    # @param [Hash] opts the optional parameters
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ResponseWrapperVoucherStatus, Fixnum, Hash)>] ResponseWrapperVoucherStatus data, response status code and response headers
    def get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherStatusApi.get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling VoucherStatusApi.get"
      end
      # resource path
      local_var_path = '/voucherStatus/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperVoucherStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherStatusApi#get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Post new voucherStatus.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VoucherStatus] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [ResponseWrapperVoucherStatus]
    def post(opts = {})
      data, _status_code, _headers = post_with_http_info(opts)
      data
    end

    # [BETA] Post new voucherStatus.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [VoucherStatus] :body JSON representing the new object to be created. Should not have ID and version set.
    # @return [Array<(ResponseWrapperVoucherStatus, Fixnum, Hash)>] ResponseWrapperVoucherStatus data, response status code and response headers
    def post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherStatusApi.post ...'
      end
      # resource path
      local_var_path = '/voucherStatus'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json; charset=utf-8'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ResponseWrapperVoucherStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherStatusApi#post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # [BETA] Find voucherStatus corresponding with sent data. The voucherStatus is used to coordinate integration processes. Requires setup done by Tripletex, currently supports debt collection.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids List of IDs
    # @option opts [String] :voucher_ids List of IDs
    # @option opts [String] :status Equals
    # @option opts [String] :type Equals
    # @option opts [Integer] :from From index (default to 0)
    # @option opts [Integer] :count Number of elements to return (default to 1000)
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [ListResponseVoucherStatus]
    def search(opts = {})
      data, _status_code, _headers = search_with_http_info(opts)
      data
    end

    # [BETA] Find voucherStatus corresponding with sent data. The voucherStatus is used to coordinate integration processes. Requires setup done by Tripletex, currently supports debt collection.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :ids List of IDs
    # @option opts [String] :voucher_ids List of IDs
    # @option opts [String] :status Equals
    # @option opts [String] :type Equals
    # @option opts [Integer] :from From index
    # @option opts [Integer] :count Number of elements to return
    # @option opts [String] :sorting Sorting pattern
    # @option opts [String] :fields Fields filter pattern
    # @return [Array<(ListResponseVoucherStatus, Fixnum, Hash)>] ListResponseVoucherStatus data, response status code and response headers
    def search_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VoucherStatusApi.search ...'
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['WAITING', 'DONE', 'SKIPPED', 'ERROR', 'NONE', 'PROCESSING', 'RECLAIMED'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of WAITING, DONE, SKIPPED, ERROR, NONE, PROCESSING, RECLAIMED'
      end
      if @api_client.config.client_side_validation && opts[:'type'] && !['TRIPLETEX', 'SUPPLIERINVOICE_EXTERNAL', 'DEBT_COLLECTION'].include?(opts[:'type'])
        fail ArgumentError, 'invalid value for "type", must be one of TRIPLETEX, SUPPLIERINVOICE_EXTERNAL, DEBT_COLLECTION'
      end
      # resource path
      local_var_path = '/voucherStatus'

      # query parameters
      query_params = {}
      query_params[:'ids'] = opts[:'ids'] if !opts[:'ids'].nil?
      query_params[:'voucherIds'] = opts[:'voucher_ids'] if !opts[:'voucher_ids'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'count'] = opts[:'count'] if !opts[:'count'].nil?
      query_params[:'sorting'] = opts[:'sorting'] if !opts[:'sorting'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['tokenAuthScheme']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ListResponseVoucherStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VoucherStatusApi#search\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
